
strong {
	display: inline-block;
}

a{
    text-decoration: none;
    color:gray;
}

a:hover{
    color: white;
    background-color: orange;
    font-size: x-large;
    font-weight: bold;
    
}

h1 {
	color:midnightblue;
    font-size: 26pt;
    font-family: forma-djr-display, sans-serif;
    font-style: medium;

}


h2{
    font-size: 12pt;
    font-family: forma-djr-display, sans-serif;
    font-weight: 400;
}

h2:hover {
    color:darksalmon;
    font-size: xx-large;
    font-family: serif;
    font-weight: 600;
    font-style: italic;
}

h3 {
    color: gray;
    font-size: 9pt;
    font-family: forma-djr-display, sans-serif;
    font-weight: 200;
}



p{ 
    font-size: 10pt;
    font-family: forma-djr-display, sans-serif;
    font-weight: 100;
    color:black;
}

#container {
    background-color:cornsilk;
    padding: 5px;
      }

  
#second1 {
    border-bottom: 2px solid green;
    padding: 0px;
    margin: 10px 0 10px 0;
    width: 100%;
}  

#second2 {
    border-bottom: 2px solid green;
    padding: 0px;
    margin: 10px 0 10px 0;
    width: 100%;
}  
    

#para {
    margin: 10px auto 10px auto;
    padding: 5px;

    }


.gridlayout1 {
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 10px;
}

.gridlayout2 {
    display: grid;
    grid-template-columns: 15% 20% 20% 30% 15%;
    column-gap: 5px;
}

.gridlayout3 {
    display: grid;
    grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
    column-gap: 5px;
}

